.DS_Store
__pycache__/
.ipynb_checkpoints/
.pytest_cache
dist
scratch
holonote/_version.py
annotations.db

# docs
builtdocs
jupyter_execute

# jupyterlite
jupyterlite/
scripts/jupyterlite/.jupyterlite.doit.db
scripts/jupyterlite/*.json
