.DS_Store
__pycache__/
.ipynb_checkpoints/
.pytest_cache
dist
scratch
holonote/_version.py
annotations.db

# docs
builtdocs
jupyter_execute
doc/**/*.rst
doc/**/*.ipynb

# jupyterlite
jupyterlite/
!scripts/jupyterlite
scripts/jupyterlite/.jupyterlite.doit.db
node_modules
