[project]
name = "holonote"
channels = ["pyviz/label/dev", "conda-forge"]
platforms = ["linux-64", "osx-arm64", "osx-64", "win-64"]

[tasks]
install = 'python -m pip install --no-deps --disable-pip-version-check -e .'

[environments]
test-39 = ["py39", "test-core", "test", "example", "test-example"]
test-310 = ["py310", "test-core", "test", "example", "test-example"]
test-311 = ["py311", "test-core", "test", "example", "test-example"]
test-312 = ["py312", "test-core", "test", "example", "test-example"]
test-core = ["py312", "test-core"]
test-benchmark = ["py312", "test-benchmark"]
docs = ["py311", "example", "doc"]
build = ["py311", "build"]
lint = ["py311", "lint"]
lite = ["py311", "lite"]

[dependencies]
holoviews = ">=1.18.0"
pandas = "*"
pip = "*"

[feature.py39.dependencies]
python = "3.9.*"

[feature.py310.dependencies]
python = "3.10.*"

[feature.py311.dependencies]
python = "3.11.*"

[feature.py312.dependencies]
python = "3.12.*"

[feature.example.dependencies]
dask = "*"
datashader = "*"
hvplot = "*"
jupyterlab-myst= "*"
jupyterlab= "*"
scipy = "*"

# =============================================
# =================== TESTS ===================
# =============================================
[feature.test-core.dependencies]
pytest = "*"
pytest-github-actions-annotate-failures = "*"

[feature.test-core.tasks]
test-unit = 'pytest holonote/tests'

[feature.test.dependencies]
dask = "*"
datashader = "*"
hvplot = "*"
scipy = "*"

[feature.test-example.tasks]
test-examples = "python scripts/example_testing.py"

[feature.test-example.dependencies]
nbval = "*"

[feature.test-benchmark.tasks]
test-benchmark = "pytest holonote --codspeed --benchmark -n auto"

[feature.test-benchmark.dependencies]
pytest-codspeed = "*"
pytest-xdist = "*"

# =============================================
# =================== DOCS ====================
# =============================================
[feature.doc.dependencies]
graphviz = "*"
nbsite = ">=0.8.4,<0.9.0"
pooch = "*"
python-kaleido = "*"
selenium = "*"

[feature.doc.tasks]
_docs-generate-rst = 'nbsite generate-rst --org holoviz --project-name holonote'
_docs-no-header-tutorial = 'python ./doc/no_header_tutorial.py'
_docs-refmanual = 'python ./doc/generate_modules.py holonote -d ./doc/reference_manual -n holonote -e tests'
_docs-generate = 'nbsite build --what=html --output=builtdocs --org holoviz --project-name holonote'

[feature.doc.tasks.docs-build]
depends_on = ['_docs-generate-rst', '_docs-no-header-tututorial', '_docs-refmanual', '_docs-generate']

# =============================================
# ================== BUILD ====================
# =============================================
[feature.build.dependencies]
python-build = "*"
conda-build = "*"

[feature.build.tasks]
build-conda = 'bash scripts/conda/build.sh'
build-pip = 'python -m build .'

# =============================================
# =================== LINT ====================
# =============================================
[feature.lint.dependencies]
pre-commit = "*"

[feature.lint.tasks]
lint = 'pre-commit run --all-files'
lint-install = 'pre-commit install'

# =============================================
# =================== LITE ====================
# =============================================
[feature.lite.dependencies]
jupyterlab-myst = "*"
jupyterlite-core = "*"
jupyterlite-pyodide-kernel = "*"
nodejs = "*"

[feature.lite.tasks]
lite-build ="bash scripts/jupyterlite/build.sh"
# Service worker only work on 127.0.0.1
# https://jupyterlite.readthedocs.io/en/latest/howto/configure/advanced/service-worker.html#limitations
lite-server = "python -m http.server --directory ./jupyterlite --bind 127.0.0.1"
